In [9]:
#fas-정재환
import cx_Oracle
import pandas as pd

In [10]:
#외부 오라클 서버 원격 접속
conn = cx_Oracle.connect('gh03014/c4iuser04@dalma.dongguk.ac.kr:1521/stud1')
#커서 연결
cursor = conn.cursor()
#건강검진 정보 데이터 조회(번호, 신장 ,체중, 허리둘레, 수축혈압, 적혈구 농도)
sql = "select height, weight, waist, max_pressure, hemoglobin, smoke from member_health"
#쿼리문 실행
cursor.execute(sql)
#sql문 실행 결과
rs = cursor.fetchall()

In [11]:
#결과 데이터를 dataframe(테이블)형식으로 저장
data = pd.DataFrame(rs)
data

        0   1     2    3     4  5
0     160  60  80.0  128  16.6  3
1     180  70  83.0  119  14.2  3
2     160  55  73.0  129  14.2  1
3     155  50  73.0  101  16.5  1
4     160  50  71.0  104  14.8  1
...   ...  ..   ...  ...   ... ..
1158  130  56  45.9    9   9.0  9
1159  170  69  89.1  115  13.0  1
1160  169  57  82.0  115  33.0  3
1161  169  60  80.3  115   9.1  1
1162  170  63  80.0  115   3.0  3

[1163 rows x 6 columns]

In [12]:
#위의 결과는 컬럼명이 나타나지 않는다

In [13]:
#판다스에서 제공하는 read_sql함수를 사용하여 질의하면 컬럼명도 얻을 수 있다.
rs = pd.read_sql(sql, conn)
rs

      HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN  SMOKE
0        160      60   80.0           128        16.6      3
1        180      70   83.0           119        14.2      3
2        160      55   73.0           129        14.2      1
3        155      50   73.0           101        16.5      1
4        160      50   71.0           104        14.8      1
...      ...     ...    ...           ...         ...    ...
1158     130      56   45.9             9         9.0      9
1159     170      69   89.1           115        13.0      1
1160     169      57   82.0           115        33.0      3
1161     169      60   80.3           115         9.1      1
1162     170      63   80.0           115         3.0      3

[1163 rows x 6 columns]

In [14]:
#판다스의 to_csv함수를 이용해 데이터프레임을 csv파일로 현재위치에 저장한다
rs.to_csv("health.csv", mode='w')

In [15]:
#저장된 csv파일을 0번째줄을 인덱스 시작으로 읽어온다
data_health = pd.read_csv("health.csv", index_col=0)
data_health

      HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN  SMOKE
0        160      60   80.0           128        16.6      3
1        180      70   83.0           119        14.2      3
2        160      55   73.0           129        14.2      1
3        155      50   73.0           101        16.5      1
4        160      50   71.0           104        14.8      1
...      ...     ...    ...           ...         ...    ...
1158     130      56   45.9             9         9.0      9
1159     170      69   89.1           115        13.0      1
1160     169      57   82.0           115        33.0      3
1161     169      60   80.3           115         9.1      1
1162     170      63   80.0           115         3.0      3

[1163 rows x 6 columns]

In [16]:
#특정 컬럼(NUM_CODE)을 기준으로 오름차순 정렬
data_health = data_health.sort_values(by='NUM_CODE', axis=0)
data_health

KeyError: 'NUM_CODE'

In [67]:
#특정 컬럼(NUM_CODE)을 기준으로 내림차순 정렬, ascending=False 설정
data_health = data_health.sort_values(by='NUM_CODE', axis=0, ascending=False)
data_health

      NUM_CODE  HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
1160      1163     169      57   82.0           115        33.0
1159      1162     170      69   89.1           115        13.0
1162      1161     170      63   80.0           115         3.0
1158      1160     130      56   45.9             9         9.0
1074      1159     190      70   80.0           100         9.0
...        ...     ...     ...    ...           ...         ...
316          5     175      75   93.0           128        16.1
315          4     155      55   67.5           138        13.4
314          3     175      75   94.0           130        16.1
313          2     150      45   73.4           110        10.7
312          1     170      65   91.0           158        15.9

[1163 rows x 6 columns]

In [68]:
#특정 컬럼(NUM_CODE)삭제
data_health = data_health.drop(['NUM_CODE'], axis=1)
data_health

      HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
1160     169      57   82.0           115        33.0
1159     170      69   89.1           115        13.0
1162     170      63   80.0           115         3.0
1158     130      56   45.9             9         9.0
1074     190      70   80.0           100         9.0
...      ...     ...    ...           ...         ...
316      175      75   93.0           128        16.1
315      155      55   67.5           138        13.4
314      175      75   94.0           130        16.1
313      150      45   73.4           110        10.7
312      170      65   91.0           158        15.9

[1163 rows x 5 columns]

In [69]:
# index 를 기준으로 오름차순 정렬
data_health = data_health.sort_index()
data_health

      HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
0        160      60   80.0           128        16.6
1        180      70   83.0           119        14.2
2        160      55   73.0           129        14.2
3        155      50   73.0           101        16.5
4        160      50   71.0           104        14.8
...      ...     ...    ...           ...         ...
1158     130      56   45.9             9         9.0
1159     170      69   89.1           115        13.0
1160     169      57   82.0           115        33.0
1161     169      60   80.3           115         9.1
1162     170      63   80.0           115         3.0

[1163 rows x 5 columns]

In [71]:
#특정 컬럼('WAIST') 값만 출력
data_health['WAIST']

0       80.0
1       83.0
2       73.0
3       73.0
4       71.0
        ...
1158    45.9
1159    89.1
1160    82.0
1161    80.3
1162    80.0
Name: WAIST, Length: 1163, dtype: float64

In [73]:
#특정 컬럼에 조건식 설정, 값이 80일때
data_health['WAIST'] == 80

0        True
1       False
2       False
3       False
4       False
        ...
1158    False
1159    False
1160    False
1161    False
1162     True
Name: WAIST, Length: 1163, dtype: bool

In [77]:
#LOC를 이용해 조건식 결과가 TRUE인 경우에만 출력
data_health.loc[data_health['WAIST'] == 80]

      HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
0        160      60   80.0           128        16.6
6        155      70   80.0           113        11.5
8        170      70   80.0           118        15.4
12       175      65   80.0           130        12.0
63       145      55   80.0           114        13.4
67       175      70   80.0           118        16.4
74       175      80   80.0           138        15.1
86       170      65   80.0           128        14.8
295      165      60   80.0           126        12.1
331      150      50   80.0           120        13.9
332      155      55   80.0           117        12.8
362      160      60   80.0           120        12.0
363      145      55   80.0           128        13.5
371      160      60   80.0           109        13.0
383      175      70   80.0           122        15.8
386      150      50   80.0           130        14.6
423      150      55   80.0           150        14.0
430      165      55   80.0           118        16.3
440      155      55   80.0           110        16.6
487      160      60   80.0           158        16.1
491      160      60   80.0           118        14.3
509      175      65   80.0           110        15.3
544      160      65   80.0           125        14.0
562      165      60   80.0           125        14.0
644      155      65   80.0           138        14.3
680      170      70   80.0           121        14.9
693      160      55   80.0           128        15.9
698      165      70   80.0           118        15.1
705      160      65   80.0           118        15.2
725      140      45   80.0           120        14.1
734      155      60   80.0           132        14.9
738      180      65   80.0           120        15.7
785      160      60   80.0           130        14.7
817      170      65   80.0           118        13.0
828      165      65   80.0           120        14.6
869      165      65   80.0           119        14.9
892      155      50   80.0           129        13.5
905      155      55   80.0           154        13.0
914      150      50   80.0           107        14.1
931      170      70   80.0           129        16.3
990      145      60   80.0           110        10.6
997      160      70   80.0           114        14.3
1020     165      70   80.0           101        14.8
1023     150      60   80.0           135        12.8
1027     170      60   80.0           119        15.8
1037     165      55   80.0           116        12.6
1063     155      55   80.0           105        12.0
1069     145      55   80.0           186        13.7
1074     190      70   80.0           100         9.0
1096     165      55   80.0           112        16.0
1162     170      63   80.0           115         3.0